#main{
	width:90%;
	padding:40px 0 0;
}
.banner{
	width:600px;
	float:left;
}
#login-area{
	width:300px;

	padding-bottom:20px;
	
	float:right;
}
/*更改logo的样式*/
#logo{
	height:72px;
	
	background-position: 40px center;
	background-color: #F7F7F7;
	float:none;
}
/*调整按钮大小！*/
#logo .blue-button{
	cursor: default;
	
	padding:3px 13px;
	margin:22px 60px 0 0;
	font-size: 14px;
	
	display:inline-block;
	float:right;
}