/*初始化a标签*/
a{
	color:#357AE8;
}
a:hover{
	text-decoration: underline;
}
/*蓝色的按钮*/
.blue-button{
	text-align: center;
	color:#fff;
	font-size: 16px;
	
	border:1px solid #2f5bb7;
	border-radius:3px;
	padding:9px 0;
	background:#4d90fe;
}
.blue-button:hover{
	background:#357ae8;
}
#footer{
	width:100%;
	
	margin-top:60px;
}
#footer p.power{
	font-size: 14px;
	text-align: center;
}
#banner{
	height:60px;
	background:#F7F7F7;
}
#logo{
	width:120px;
	height:60px;
	
	background:url(../images/logo.png) center center no-repeat;
	background-size:112px auto;
	float:left;
}
#banner dl.option{
	height:30px;
	
	padding:30px 0 0 20%;
	display: block;
}
#banner dl.option dd{
	display: inline;
	
	margin-left:10px;
	padding:5px 10px;
	
	background:#fff;
}
#banner dl.option dd a{
    cursor:pointer;

	display: inline-block;
	*display: inline;
	*zoom:1;
}
.clearfix:after{
	line-height: 0;
	content: '　';
	
	display: block;
	visibility: hidden;
	clear:both;
}
/*左边的详情！*/
#left-banner{
	width:20%;
	height:100%;
	min-height:600px;
	_height:600px;
	
	background:#F7F7F7;
	
	border-top:1px solid #999;
	float:left;
}
#left-banner dl{
	width:90%;
	padding:20px 5%;
}
#left-banner dl dt{
	width:100%;
	height:40px;

	text-align: center;
	line-height: 40px;
	color:#FF9600;

	background:#FFFFFF;
	border:	1px solid #FF9600;

	margin:0 0 10px;
}
#left-banner dl dd{
	width:100%;
	height:20px;
	
	text-align: center;
	line-height: 20px;
	
	background:#FFFFFF;
	border:1px solid #999;

	margin:0 0 10px;
}
#left-banner dl dd a{

    cursor:pointer;

	display: block;
	color:#555555;
}
/*右边的详情*/
#right-content{
	width:76%;
	height:600px;
	
	padding:0 2%;
    border:0;
	float:right;
}
/*表单验证失败，表单标红！*/
.input-red{
	border-color: #f00;
	color:#f00;
}
#right-content img{
	display:inline;
}