/*从materialize得到的轮播图插件*/
.carousel-m {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%
}

.carousel-m.carousel-slider {
    top: 0;
    left: 0;
    height: 0
}

.carousel-m.carousel-slider .carousel-fixed-item {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 1
}

.carousel-m.carousel-slider .carousel-fixed-item.with-indicators {
    bottom: 68px
}

.carousel-m.carousel-slider .carousel-item {
    width: 100%;
    height: 100%;
    min-height: 400px;
    position: absolute;
    top: 0;
    left: 0
}

.carousel-m.carousel-slider .carousel-item h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px
}

.carousel-m.carousel-slider .carousel-item p {
    font-size: 15px
}

.carousel-m .carousel-item {
    display: none;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0
}

.carousel-m .carousel-item img {
    width: 100%
}

.carousel-m .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0
}

.carousel-m .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 24px 4px;
    background-color: rgba(255,255,255,0.5);
    transition: background-color .3s;
    border-radius: 50%
}

.carousel-m .indicators .indicator-item.active {
    background-color: #fff
}
